* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(black, brown);
}

div#root {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

img {
    width: 15vw;
    height: 15vw;
    border-radius: 150px;
}

.card {
    width: 17vw;
    height: 55vh;
    margin: 1%;
    padding: 1%;
    border: 2px solid brown;
    background-color: #202020;
    border-radius: 25px;
    cursor: pointer;
}

.card-body {
    width: 15vw;
    height: 15vh;
}

h2, h4, p {
    text-align: center;
    color: white;
}

.write {
    margin-top: 15px;
    text-align: center;
    color: brown;
}

